{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div id="login_form" xmlns="http://www.w3.org/1999/html">
    <div id="title">Login</div>

    {% if user.is_authenticated %}
    <p>You're logged in as {{ user }}, <a href="{% url 'auth_logout' %}">Logout</a></p>
    {% else %}

    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}

    <form method="post" action="{% url 'auth_login' %}">
        {% csrf_token %}
        {{ form.username|attr:"placeholder:login" }}
        {% if form.username.placeholder %}<div>{{ form.username.placeholder }}</div>{% endif %}
        {% if form.username.errors %}<div>{{ form.username.errors }}</div>{% endif %}
        {{ form.password|attr:"placeholder:password" }}
        {% if form.password.placeholder %}<div>{{ form.password.placeholder }}</div>{% endif %}
        {% if form.password.errors %}<div>{{ form.password.errors }}</div>{% endif %}
        
            <div id="url_block">
                <div><a href="{% url 'auth_password_reset' %}">Forgot password?</a></div>
                <div><a href="{% url 'registration_register' %}">Registration</a></div>
            </div>
            <div id="submit_login">
                <input type="submit" value="Sign In">
            </div>


    </form>

    <script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>
        </br>
        </br>
        <h3>Other</h3>
    <div id="other_auth">
            <a href="{% url "socialauth_begin" "facebook" %}" class="social_auth"><img src="{% static '/static/img/facebook.png' %}"></a>
            <a href="{% url "socialauth_begin" "twitter" %}" class="social_auth"><img src="{% static '/static/img/twitter.png' %}"></a>
        </div>

        </div>

{% endif %}
{% endblock %}