{% extends "base.html" %}
{% block content %}
    <div id="login_form">
    <div id="title">Login</div>

    {% if user.is_authenticated %}
    <p>You're logged in as {{ user }}, <a href="{% url 'auth_logout' %}">Logout</a></p>
    {% else %}

    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}

    <form method="post" action="{% url 'auth_login' %}">
    {% csrf_token %}

    {% for field in form %}
        {{ field }}
        {% if field.placeholder %}<div>{{ field.placeholder }}</div>{% endif %}
        {% if field.errors %}<div>{{ field.errors }}</div>{% endif %}
        </br>
    {% endfor %}
    <div id="url_block">
    <div><a href="{% url 'auth_password_reset' %}">Forgot password?</a></div>
    <div><a href="{% url 'registration_register' %}">Registration</a></div>
    </div>
    <div id="submit_login">
    <input type="submit" value="Sign In">
    </div>
    </form>

    <script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>
        </div>
{% endif %}
{% endblock %}